<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="/js/eventListeners.js" defer></script>
    <title>Member Register</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <form action="/member-register" method="post" id="member-register-form">
        <h2>Prove your worth</h2>
        <h3>Finish the following movie quotes...</h3>
        <%- include("partials/errors") %>

        <ol class="quiz-questions-container">
          <% for (const [q, qData] of Object.entries(locals.quiz)) { %>
          <li class="quiz-question">
            <label for="<%= q %>"><%= qData.q %></label>
            <div class="hint-section">
              <span class="show-hint-button">Show Hint</span>
              <span class="hint">
                <i>
                  Hint:
                  <%= qData.hint %>
                </i>
              </span>
            </div>
            <input
              type="text"
              name="<%= q %>"
              id="<%= q %>"
              placeholder="Provide your answer..."
              value="<%= locals.values?.[q] %>"
            />
          </li>
          <% } %>
        </ol>

        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
